# =========================
# macOS
# =========================
.DS_Store

# =========================
# C++ Build Files
# =========================
*.o
*.out
*.exe

# Common compiled binaries
simulation
main

# =========================
# Python Cache Files
# =========================
__pycache__/
*.pyc

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Output Data Files
# =========================
output/*.csv

# Keep generated plots/images
!output/*.png